body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    background-image: url('../img/secundaria.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

header {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 10px;
}

.izquierdo {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.opciones-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opcion {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.opcion:hover {
    background-color: #0056b3;
}

.msj-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px; 
}

.msj {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.msj a {
    color: white;
    text-decoration: none;
}

.msj:hover {
    background-color: #555;
}

.respuesta {
    margin-top: 30px;
    font-size: 18px;
    color: #333;
}

footer {
    background: #333;
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)); 
    color: #fff;
    padding: 2px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 100px; 
}

.correcta {
    color: green;
}

.incorrecta {
    color: red;
}
